.sucTitle{text-align: center; font-size: 15px; color: #1a1a1a;}
.sucLabel{width: 15%;text-align-last: justify; display: inline-block;}
.sucSpan{width: 50%; display: inline-block;  text-align: left;}
.tipApp{color: #4c9afa;  margin-bottom: -8px;}