.login_container .login_header {
  padding-top: 150px;
  width: 100%;
  height: 355px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  background: url(../image/bg_01.png) no-repeat;
  background-size: cover;
}
.login_container .login_header p span {
  color: #ff921d;
}
.login_container .login_header p + p {
  font-size: 26px;
}
.login_container .form-horizontal {
  margin: 0 auto;
  padding: 30px 50px 20px;
  -webkit-box-shadow:0 5px 10px 5px #e7e8eb;
  box-shadow:0 5px 5px 5px #e7e8eb;
  width: 480px;
  background-color: #fff;
}
.login_container .form-control {
  border: 1px solid #b8b8b8;
  padding-left: 54px;
  height: 46px;
  font-size: 15px;
  margin-bottom: 20px;
}
.login_container .login_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #999;
  background-color: #f3f7fc;
}
.login_container #name {
  background: url(../image/username.png) no-repeat 15px center;
}
.login_container #pwd {
  background: url(../image/password.png) no-repeat 15px center;
}
.login_container #login_btn {
  height: 46px;
  font-size: 22px;
  background-color: #2868e8;
}
.form-horizontal .form-group:last-child {
  margin-top: 30px;
}
.fixplugin_container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  padding: 30px;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  background-color: #fff;
  -webkit-box-shadow:0 0 10px 5px #e7e8eb;
  box-shadow:0 0 10px 5px #e7e8eb;
}
.fixplugin_download a {
  color: #337ab7;
  text-decoration: underline;
}
.fixplugin_download a:hover {
  color: #23527c;
}
.queue_container,
.start_server_container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: #fff;
}
.queue_container {
  margin-top: -85px;
  margin-left: -300px;
  padding-bottom: 30px;
  width: 600px;
}
.queue_header,
.start_server_header {
  vertical-align: middle;
}
.queue_username,
.start_server_username {
  display: inline-block;
  width: 380px;
  text-align: left;
  margin-left: 40px;
  color: #3692e9;
  font-size: 30px;
  line-height: 90px;
  vertical-align: middle;
}
.start_server_username {
  width: 640px;
}
#one_touch_btn {
  border-color: #3aabfb;
  background-color: #3aabfb;
  visibility: hidden;
}
#queue_list{
	-webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
#queue_list li{
	width: 520px;
	margin-left: 40px;
  padding-left: 20px;
	list-style-type: none;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-align: center;
}
#queue_list li:hover {
  cursor: pointer;
}
#queue_list li:nth-of-type(odd){
	background-color: #f6fbff;
}
#queue_list li(n-th){
	width: 520px;
	margin-left: 40px;
	list-style-type: none;
}
.queue_list_left{
	display: block;
	float: left;
	width: 40%;
 	height: 42px;
 	text-align: left;
 	line-height: 20px;
 	padding-top: 4px;
 	padding-bottom: 4px;
}
.queue_list_left span{
	display: inline-block;
	width: 100%;
 	height: 20px;
 	text-align: left;
 	line-height: 20px;
}
.queue_list_left span:first-child{
	color: #3aabfb;
	font-size: 16px;
}
.queue_list_right{
	display: block;
	float: left;
 	width: 50%;
 	height: 100%;
 	text-align: right;
 	line-height: 50px;
}
.start_server_container {
  margin-top: -130px;
  margin-left: -450px;
  width: 900px;
}
#start_server_list{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
#start_server_list li{
  display: table;
	width: 820px;
	margin-left: 40px;
	list-style-type: none;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-align: center;
}
#start_server_list li:nth-of-type(odd){
	background-color: #f6fbff;
}
#start_server_list li(n-th){
	width: 820px;
	margin-left: 40px;
	list-style-type: none;
}
#start_server_list li>span{
	display: table-cell;
	width: 120px;
	min-height: 50px;
  line-height: 1;
  vertical-align: middle;
}
.start_server_open_server{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	border: 1px solid #999;
	border-radius: 2px;
	background-color: #999;
	color: #fff;
	cursor: pointer;
}
.start_server_open_server.active{
	background-color: #3aabfb;
	color: #fff;
	border: 1px solid #3aabfb;
}
.start_server_footer{
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.start_server_footer_left{
	display: inline-block;
	width: 734px;
	margin-left: 40px;
	text-align: left;
	font-size: 14px;
	color: #333;
}
.start_server_footer_left span{
	display: inline-block;
	margin-left: 8px;
}
.start_server_footer_right{
	display: inline-block;
	width: 80px;
	margin-right: 0px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #3aabfb;
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
	border-radius: 4px;
	cursor: pointer;
}
.meeting_container {
  background-color: #e7e8eb;
}
.meeting_container .navbar {
  border-top: 4px solid #36c;
  min-width: 1280px;
  height: 64px;
  background-color: #fff;
}
.meeting_container .navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}
.meeting_container .navbar-brand>img {
  display: inline-block;
  width: 34px;
  vertical-align: middle;
}
.meeting_container .navbar-brand>span {
  display: inline-block;
  margin-left: 20px;
  font-size: 26px;
  color: #a3a8aa;
  vertical-align: middle;
}
.meeting_container .container {
  padding-left: 0;
  padding-right: 0;
  width: 1280px;
}
.meeting_container .container-left,
.meeting_container .container-right {
  float: left;
}
.meeting_container .container-left {
  width: 343px;
}
.meeting_container .container-right {
  margin-left: 20px;
  width: 917px;
}
.meeting_container .basic-info {
  padding: 25px 20px;
  background-color: #fff;
}
.meeting_container .head::after {
  display: table;
  content: " ";
  clear: both;
}
.meeting_container .head > * {
  display: inline-block;
  font-size: 16px;
  color: #222;
}
.meeting_container .head .glyphicon {
  color: #808086;
}
.meeting_container .body {
  margin-top: 12px;
}
.meeting_container .body .hr {
  width: 100%;
  height: 1px;
  background-color: #e7e8eb;
}
.meeting_container .form-horizontal .form-group {
  margin: 10px 0 -8px;
}
.meeting_container .form-group > * {
  float: left;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
}
.meeting_container .form-horizontal .control-label {
  display: inline-block;
  padding-top: 0;
  width: 85px;
  text-align: left;
  color: #8d8d8d;
}
.meeting_container .form-horizontal .funds-account {
  border: 1px solid #e7e8eb;
  padding-left: 13px;
  width: 163px;
  height: 25px;
  line-height: 23px;
  color: #3f70cf;
  background-color: #ecf8fd;
}
.meeting_container .form-horizontal .btn {
  border: none;
  color: #3f70cf;
}
.meeting_container .form-horizontal .btn:focus,
.meeting_container .form-horizontal .btn:active {
  outline: none;
}
.meeting_container .form-control-static {
  margin-left: 5px;
  max-width: 210px;
  min-height: 25px;
  color: #222;
}
.meeting_container #DEPARTMENT {
  line-height: 1;
}
.meeting_container .form-horizontal .ps-aut {
  padding: 14px 24px;
  height: 50px;
  background-color: #f4f5f9;
}
.meeting_container .ps-aut .ps-aut-status {
  margin-right: 12px;
  width: 22px;
}
.meeting_container .ps-aut .form-control-static {
  margin-right: 28px;
  line-height: 22px;
  color: #8d8d8d;
}
.meeting_container .ps-aut .ps-aut-img {
  margin-top: -10px;
  width: 42px;
  height: 42px;
}
.meeting_container .appropriateness-result {
  margin-top: 20px;
  padding: 22px 20px 20px;
  background-color: #fff;
}
.meeting_container .appropriateness-result .control-label {
  width: 120px;
}
.meeting_container .attachment {
  margin-top: 20px;
  padding: 22px 20px 20px;
  background-color: #fff;
}
.meeting_container .attachment .form-group {
  padding-top: 14px;
  height: 50px;
}
.meeting_container .attachment .control-label {
  width: 185px;
}
.meeting_container .attachment img {
  float: right;
  margin-top: -10px;
  margin-left: 5px;
  width: 42px;
  height: 42px;
}
.meeting_container .video {
  position: relative;
}
.meeting_container .video .video-guest {
  width: 628px;
  height: 471px;
  background-color: #000;
}
.meeting_container .video .video-host {
  position: absolute;
  top: 0;
  right: 0;
  width: 289px;
  height: 216px;
  background-color: #393939;
  z-index: 1100;
}
.meeting_container .video .media-host {
  position: absolute;
  top: 0;
  right: 0;
  width: 289px;
  height: 216px;
  background-color: #393939;
  z-index: 1000;
}
.meeting_container .video .location-dir {
  padding-left: 20px;
  width: 628px;
  height: 50px;
  line-height: 50px;
  color: #6d6d6d;
  background-color: #1e1e1e;
}
.meeting_container .video .video-function {
  position: absolute;
  top: 216px;
  right: 0;
  width: 289px;
  height: 305px;
  line-height: 34px;
  background-color: #fff;
}
.meeting_container .video-function .btn-link {
  display: block;
  color: #999;
  text-align: left;
}
.meeting_container .video-function .btn-link:focus,
.meeting_container .video-function .btn-link:hover {
  outline: none;
  color: #999;
  text-decoration: none;
}
.meeting_container .video-function .btn-link:active {
  color: #36c;
}
.meeting_container #pic_btn {
  border-bottom: 1px solid #e7e8eb;
  padding-left: 139px;
  width: 100%;
  height: 58px;
  background: url(../image/btn_01.png) no-repeat 100px center;
}
.meeting_container #pic_btn:active {
  background-image: url(../image/btn_02.png);
}
.meeting_container .record_start_btn {
  border-bottom: 1px solid #e7e8eb;
  padding-left: 139px;
  width: 100%;
  height: 58px;
  background: url(../image/btn_03.png) no-repeat 100px center;
}
.meeting_container .record_start_btn:active {
  background-image: url(../image/btn_04.png);
}
.meeting_container #record_span {
  position: absolute;
  top: 70px;
  right: 15px;
  color: #999;
}
.meeting_container .record_stop_btn {
  border-bottom: 1px solid #e7e8eb;
  padding-left: 139px;
  width: 100%;
  height: 58px;
  background: url(../image/btn_11.png) no-repeat 100px center;
}
.meeting_container .record_stop_btn:active {
  background-image: url(../image/btn_12.png);
}
.meeting_container #play_btn {
  border-bottom: 1px solid #e7e8eb;
  padding-left: 139px;
  width: 100%;
  height: 58px;
  background: url(../image/btn_11.png) no-repeat 100px center;
}
.meeting_container #play_btn:active {
  background-image: url(../image/btn_12.png);
}
.meeting_container .video_done_btn {
  margin: 35px auto 0;
  border: 1px solid #e7e8eb;
  padding-left: 114px;
  width: 241px;
  height: 47px;
  background: url(../image/btn_09.png) no-repeat 75px center;
}
.meeting_container .video_undone_btn {
  margin: 20px auto 0;
  border: 1px solid #e7e8eb;
  padding-left: 114px;
  width: 241px;
  height: 47px;
  background: url(../image/btn_10.png) no-repeat 75px center;
}
.meeting_container #turnover_btn {
  background: url(../image/btn_07.png) no-repeat 100px top;
}
.meeting_container #turnover_btn:active {
  background-image: url(../image/btn_08.png);
}
.meeting_container .general-words {
  margin-top: 17px;
  padding: 25px 20px;
  background-color: #fff;
}
.meeting_container .words-group p {
  margin: 10px 0 -5px;
  color: #8d8d8d;
}
.meeting_container #appropriateness_detail {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 334px;
  height: 660px;
  line-height: 1.8;
  overflow: auto;
  background-color: #fff;
}
.meeting_container .qnr-group {
  margin-top: 20px;
}
.meeting_container .qnr-group .question {
  font-weight: bolder;
}
.meeting_container .qnr-group .option.active {
  color: #36c;
}
#CRVideoDiv {
  height: 0;
}
#CRMgrDiv {
  height: 0;
}
#CRMeetDiv {
  height: 0;
}
#crQueueDiv {
  height: 0;
}
#crHttpDiv {
  height: 0;
}
