@charset "utf-8";
html{font-size:14px;width:100%;height:100%; }
body{width:100%;height:100%;padding:0;margin:0;background-color:#FfFfFf; color:#3E3A39; }
html, body {-webkit-user-select: none;user-select: none;}
input[type="submit"],input[type="button"],input[type="text"],textarea,input[type="password"],input[type="tel"]{-webkit-appearance:none;border-radius:0}
ul,li,dl,dd,dt{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,p{margin:0}
th{ text-align:center;}
a{color:#3E3A39; text-decoration:none;}
a:hover{color:#D6282A;}
a:focus{border:0;outline:none;  }
a:hover,a:visited{border:0;outline:none;  }
img{border:0}
input,img{vertical-align:middle;}
a, img {-webkit-touch-callout: none; }
a,input{-webkit-tap-highlight-color:rgba(0,0,0,0.1);}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
.clear{zoom:1;display:block;}
.clear{height:0;clear:both;font-size:0;line-height:0;zoom:1;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
.l{ float:left;}
.r{ float:right;}
.c{ clear:both;}
.cf:after{ content: "";display: block;height: 0;clear: both;visibility: hidden;}
.m10{ margin-top:10px;}
.m15{margin-top:15px;}
.m20{margin-top:20px;}
.m25{margin-top:25px;}
.m30{margin-top:30px;}
.b{ font-weight:bold;}
.red,a.red{color:#E73822;}
.green,a.green{color:#006D3B;}
.blue,a.blue{color:#167CB5!important;}
.gray,a.gray{color:#AFAFAF;}
.br{border-right:1px solid #EAEAEA;}


/*头部样式*/
.navInfo{ width:100%;height:44px;background:#c40322;line-height: 44px;min-height:44px }
.loginTop-nav{text-align: center;float:left;width:69%;color:#ffffff;font-size:20px; line-height: 44px;}
.titleTopBack{text-align: center;float:left;width:15%;}
.initHeight{height:1px;}
